
#play-area {
    width: 100%;
    height: 100%;
}

#board {
    width: 32em;
    height: 32em;
    border: black 2px solid;

    /* Center Chess Board */
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tile {
    width: 4em;
    height: 4em;

    display: inline-block;
}

.row {
    width: 32em;
    height: 4em;
}

.black {
    background-color: rgba(0, 0, 0, 0.8);
}

.white {
    background-color: white;
}

.previousPosition {
    background-color: #ff6363;
}

.possiblePosition {
    background-color: #ffff84;
}

